<a href="https://colab.research.google.com/github/GuntiBharadwaj/Python/blob/main/functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
def g(a,b,c):
  return (a+b+c)/3
g=g(3,5,4)
print(g)

4.0

In [7]:
# greetings
def greet(name='c'):
  return ('Hello '+name)
f=greet('bharath')
print(f)

Hello bharath

In [16]:
# factorial
def factorial(number):
    if number==1 or number==0:
        return 1
    else:
        return number * factorial(number-1)
  # n=factorial(int(input("enter the number:")))
n=factorial(4)
print(n)

24

In [23]:
# fint the greatest number
def s(a,b,c):
    if a>b and a>c:
      return(a)
    elif b>c and b>a:
      return(b)
    else:
      return(c)
number=s(3,4,5)
print(number)
# print(id(s))

5
140224372236160

In [28]:
# to find the prime number
def prime(number):
  if number%2==0:
    return("it is not a prime number")
  else:
    return("it is prime number")
number=prime(int(input("enter the number:")))
print(number)

enter the number:5
it is prime number

In [7]:
# to sum the n natural numbers
def sum(n):
    if n < 0:
      return ("invalid")
    elif n == 0:
        return 0
    else:
      return n + sum(n - 1)
k=int(input("enter the number:"))
number=sum(k)
print("the sum of:",k,"natural numbers :",number)

enter the number:7
the sum of: 7 natural numbers : 28

In [21]:
# to print the pattern
n=int(input("enter the number to print the pattern:"))
for rows in range(n,0,-1):
  for cols in range(1,rows+1):
    print("*",end=" ")
  print("")

enter the number to print the pattern:3
* * *
* *
*

In [23]:
# table
def table(n):
  for i in range(1,11):
    d=n*i
    print(n,"*",i,"=",d)
j=int(input("enter the number of table tou want:"))
table(j)

enter the number of table tou want:5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50