<a href="https://colab.research.google.com/github/GuntiBharadwaj/Python/blob/main/lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# list & tuples
list=[4,5.5,0+1j,"pratice4"]#(int,float,complex,string,boolean)
print(list[0],list[3],
list[2:5])#list slicing

4 pratice4 [1j, 'pratice4']

In [3]:
list=[5,6,16,8,11,22,23,24,25,25,4,9]
print(list[0:8:4])# skiping list value
print(list[2:])

[5, 11]
[16, 8, 11, 22, 23, 24, 25, 25, 4, 9]

In [6]:
# list methods
list.sort()# assending order or sorting the list
print(list)

[4, 5, 6, 8, 9, 11, 16, 22, 23, 24, 25, 25]

In [9]:
list.reverse() # reverse the list
print(list)

[25, 25, 24, 23, 22, 16, 11, 9, 8, 6, 5, 4]

In [12]:
list.append(59)#adding of a number 59 at the last of the list
print(list)

[25, 25, 24, 23, 22, 16, 11, 9, 8, 6, 5, 4, 59]

In [15]:
list.insert(1,786)#adding the number 786 at the place of 1st place of list
print(list)

[25, 786, 8, 8, 25, 24, 23, 22, 16, 11, 9, 8, 6, 5, 4, 59]

In [16]:
 list.reverse()
 print(list)

[59, 4, 5, 6, 8, 9, 11, 16, 22, 23, 24, 25, 8, 8, 786, 25]

In [17]:
list.pop()#deleting the last number from the list
print(list)

[59, 4, 5, 6, 8, 9, 11, 16, 22, 23, 24, 25, 8, 8, 786]

In [18]:
list.pop(5)#delete the 5th number from the list
print(list)

[59, 4, 5, 6, 8, 11, 16, 22, 23, 24, 25, 8, 8, 786]

In [21]:
list.remove(8)#delete the occurence of the number in the list
print(list)

[59, 4, 5, 6, 11, 16, 22, 23, 24, 25, 8, 8, 786]