<a href="https://colab.research.google.com/github/GuntiBharadwaj/Python/blob/main/patterns.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# patterns
# pattern1
n=3
for rows in range(1,n+1):
  for cols in range(1,n+1):
    print("#",end=" ")
  print()

# # #
# # #
# # #

In [ ]:
# pattern 2
n=3
for rows in range(1,n+1):
  for cols in range(1,n+1):
    print(rows,end=" ")
  print()

1 1 1
2 2 2
3 3 3

In [ ]:
# pattern 3
n=3
for rows in range(1,n+1):
  for cols in range(1,n+1):
    print(cols,end=" ")
  print()

1 2 3
1 2 3
1 2 3

In [ ]:
# pattern 4
n=5
for rows in range(1,n+1):
  for clos in range(1,rows+1):
    print("@",end=" ")
  print()

@
@ @
@ @ @
@ @ @ @
@ @ @ @ @

In [ ]:
# pattern 5
n=5
for rows in range(1,n+1):
  for cols in range(1,rows+1):
    print(rows,end=" ")
  print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [ ]:
# pattern 6
n=5
for rows in range(1,n+1):
  for cols in range(1,rows+1):
    print(cols,end=" ")
  print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [ ]:
# pattern 7
n=5
for rows in range(1,n+1):
  for cols in range(1,n-rows+2):
    print("*",end=" ")
  print()

* * * * *
* * * *
* * *
* *
*

In [ ]:
# pattern 8
n=int(input("enter the input of your pattern:"))
for rows in range(1,n+1):
  for cols in range(1,n+1):
    print("$",end=" ")
  print()

enter the input of your pattern:5
$ $ $ $ $
$ $ $ $ $
$ $ $ $ $
$ $ $ $ $
$ $ $ $ $

In [ ]:
# pattern 9
n=int(input("enter the input of your pattern:"))
for rows in range(1,n+1):
  for cols in range(1,n-rows+2):
    print(n-rows+1,end=" ")
  print()

enter the input of your pattern:5
5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

In [ ]:
# pattern 10
n=int(input("enter the input of your pattern:"))
for rows in range(1,n+1):
  for cols in range(1,n-rows+2):
    print(n-cols+1,end=" ")
  print()

enter the input of your pattern:5
5 4 3 2 1
5 4 3 2
5 4 3
5 4
5

In [ ]:
# pattern 11
n=5
for rows in range(1,n+1):
  for spaces in range(1,n-rows+1):
    print(" ",end=" ")
  for cols in range(1,rows+1):
      print("*",end=" ")
  print()

        *
      * *
    * * *
  * * * *
* * * * *

In [ ]:
# pattern 12
n=5
for rows in range(1,n+1):
  for spaces in range(1,n-rows+1):
    print(" ",end=" ")
  for cols in range(1,rows+1):
    print(rows,end=" ")
  print()

        1
      2 2
    3 3 3
  4 4 4 4
5 5 5 5 5

In [ ]:
# pattern 12
n=5
for rows in range(1,n+1):
  for spaces in range(1,n-rows+1):
    print(" ",end=" ")
  for cols in range(1,rows+1):
    print(cols,end=" ")
  print()

        1
      1 2
    1 2 3
  1 2 3 4
1 2 3 4 5

In [ ]:
# pattern 13
n=5
for rows in range(1,n+1):
  for spaces in range(1,rows):
    print(" ",end=" ")
  for cols in range(1,n-rows+2):
    print("*",end=" ")
  print()

* * * * *
  * * * *
    * * *
      * *
        *

In [ ]:
# pattern 14
n=5
for rows in range(1,n+1):
  for spaces in range(1,rows):
    print(" ",end=" ")
  for cols in range(1,n-rows+2):
    print(rows,end=" ")
  print()

1 1 1 1 1
  2 2 2 2
    3 3 3
      4 4
        5

In [ ]:
# pattern 15
n=5
for rows in range(1,n+1):
  for spaces in range(n-rows+1):
    print(" ",end=" ")
  for cols in range(1,2*rows):
    print("*",end=" ")
  print()

          *
        * * *
      * * * * *
    * * * * * * *
  * * * * * * * * *

In [ ]:
# pattern 16
n=5
for rows in range(n,0,-1):
  for spaces in range(n-rows):
    print(" ",end=" ")
  for cols in range(2*rows-1):
    print("*",end=" ")
  print()

* * * * * * * * *
  * * * * * * *
    * * * * *
      * * *
        *

In [ ]:
# pattern 17
n=5
for rows in range(1,2*n):
  if rows<=n:
    for cols in range(1,rows+1):
      print("*",end=" ")
  else:
    for cols in range(1,2*n-rows+1):
      print("*",end=" ")
  print()

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [ ]:
# pattern 18
n=5
for rows in range(1,n+1):
  for cols in range(1,rows+1):
    print("*",end=" ")
  print()
for rows in range(1,n):
  for cols in range(1,n-rows+1):
    print("*",end=" ")
  print()

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [1]:
# pattern 19
n=5
# upper pattern
for rows in range(1,n+1):
  for spaces in range(1,n-rows+1):
    print(" ",end=" ")
  for cols in range(1,rows+1):
    print("*",end=" ")
  print()
  # bottom pattern
for rows in range(1,n):
  for spaces in range(1,rows+1):
        print(" ",end=" ")
  for cols in range(1,n-rows+1):
        print("*",end=" ")
  print()

        *
      * *
    * * *
  * * * *
* * * * *
  * * * *
    * * *
      * *
        *

In [15]:
# pattern 20
# patterns
n=3
for rows in range(1,n+1):
    for cols in range(1,n+1):
        if rows==1 or rows== n or cols==1 or cols == n :
          print("#",end=" ")
        else:
          print(" ",end=" ")
    print()

# # #
#   #
# # #

In [17]:
# pattern 21
n=int(input("enter the number:"))
for rows in range(1,n+1):
  for cols in range(1,n+1):
    if rows == 1 or rows == n or cols == 1 or cols == n:
      print("*",end=" ")
    else:
      print(" ",end=" ")
  print()

enter the number:8
* * * * * * * *
*             *
*             *
*             *
*             *
*             *
*             *
* * * * * * * *