<a href="https://colab.research.google.com/github/GuntiBharadwaj/Python/blob/main/practice_set_on_loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
# by using for loop generate a table
number=int(input("enter the number:"))
for i in range(1,11):
  table=number*i
  print(number,"*",i,"=",table)

enter the number:5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [15]:
# to greet the person in the list
# to greet the person in the list
persons=['bharath','supraja','yeswanth','kavya','bunny']
for i in persons:
  print(f"{i}, greetings of the day")# {i} is the count i.e, i=0.i=1,i=2,i=3

bharath, greetings of the day
supraja, greetings of the day
yeswanth, greetings of the day
kavya, greetings of the day
bunny, greetings of the day

In [21]:
# by using while loop generate a table
number=int(input("enter the number:"))
i=1
while i<11:
  print(number,"*",i,"=",number*i)
  i += 1

enter the number:4
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

In [28]:
# to check a given number is prime or not
number=int(input("enter the number:"))
if(number<1):
  print("the given numbr is not a prime number")
else:
  for i in range(2,number):
      if(number%2==0):
         print("entered number is not a prime number")
         break
  else:
    print("it was a prime number")

enter the number:6
entered number is not a prime number

In [39]:
# to find the sum of first 10 natural numbers using while loop
i=1
sum=0
while i<=10:
  sum=sum+i
  i =i+1
print("sum of first 10 natural numbers:",sum)

sum of first 10 natural numbers: 55

In [49]:
# to find the factorial of the given number
number=int(input("enter the number: "))
f=1
for i in range (1,number+1):
  f=f*i
print("factorial of the given number :",f)

enter the number: 4
factorial of the given number : 24

In [52]:
# to print the reverse the table
number=int(input("enter the number:"))
for i in range(10,0,-1):
  table=number*i
  print(number,"*",i,"=",table)

enter the number:4
4 * 10 = 40
4 * 9 = 36
4 * 8 = 32
4 * 7 = 28
4 * 6 = 24
4 * 5 = 20
4 * 4 = 16
4 * 3 = 12
4 * 2 = 8
4 * 1 = 4