<a href="https://colab.research.google.com/github/GuntiBharadwaj/Python/blob/main/sets_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# to update the empty set to value
emptyset= set()
print(emptyset)
emptyset.add(1)
print(emptyset)

set()
{1}

In [6]:
# union of sets
seta={1,2,3,4,5}
setb={4,5,6,7,8}
print(seta|setb)# union of two sets
print("method 2",seta.union(setb))

{1, 2, 3, 4, 5, 6, 7, 8}
method 2 {1, 2, 3, 4, 5, 6, 7, 8}

In [8]:
# intersection
print(seta&setb)
print(seta.intersection(setb))# method 2

{4, 5}
{4, 5}

In [10]:
# difference
print(seta-setb)

{1, 2, 3}

In [13]:
# symentric difference
print(seta^setb)
# print(seta.symentric_difference(setb))# method 2

{1, 2, 3, 6, 7, 8}