<a href="https://colab.research.google.com/github/GuntiBharadwaj/Python/blob/main/tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#tuple
tuple=()#empty tuple
print(tuple)
print(type(tuple))

()
<class 'tuple'>

In [4]:
tuple=(1,2,3,4,5,6,7,8,9)#tuple with more than one value
print(tuple)
print(type(tuple))

(1, 2, 3, 4, 5, 6, 7, 8, 9)
<class 'tuple'>

In [10]:
tuplesinglevalue=(4,)# tuple with one value (',' is used to show tha the value is in the form of tuple)
tuplel=(5)#error tuple representation
print(type(tuplesinglevalue),tuplesinglevalue)
print(type(tuplel),tuplel)

<class 'tuple'> (4,)
<class 'int'> 5

In [14]:
# methods of tuples
a=(8,5,9,5,7,6,4,9,8,2,5)
a.count(5)#count method

3

In [15]:
a.index(5)#index method

1